[submodule "themes/octopress"]
	path = themes/octopress
	url = https://github.com/parsiya/Hugo-Octopress
[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane
[submodule "themes/den"]
	path = themes/den
	url = https://github.com/iswbm/hugo-theme-den
[submodule "themes/mainroad"]
	path = themes/den
	url = https://github.com/diguage/hugo-theme-mainroad
